<!DOCTYPE html>
<html>


<body class="font-medium">

<header class="shoppingHeader py-1 px-md-5 px-sm-1 sticky-top">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-right">
                    <li class="nav-item px-3 mx-auto">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-info">
                                <span id="number-of-products-added" class="pr-2"> ۳ </span>
                                <span class="border-left pl-3">سبد خرید</span>
                                <i class="fa fa-cart-plus"></i>
                            </button>
                        </div>
                    </li>
                    <li class="nav-item px-md-3">
                        <a class="nav-link" href="register">ثبت نام / ورود</a>
                    </li>
                    <li class="nav-item px-md-3">
                        <a class="nav-link" href="userDashboard">پیگیری سفارش؟</a>
                    </li>
                    <li class="nav-item px-md-3">
                        <a class="nav-link" href="#" data-toggle="collapse" data-target="#categoryJumbotrun"
                           aria-expanded="true" aria-controls="categoryJumbotrun">
                            <span>دسته بندی ها</span>
                            <i class="fa fa-chevron-down"></i>
                        </a>

                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <div class="input-group mb-2 mr-sm-2 w-100 mt-1">
                        <div class="input-group-prepend">
                            <button class="btn btn-info">جستجو</button>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="جستجو">
                    </div>
                </form>
            </div>
            <a class="navbar-brand pl-3 text-secondary mx-auto" href="Index.ejs">بادمجون
                <i class="fa fa-hotdog"></i>
            </a>
        </nav>
        <div id="categoryJumbotrun" class="collapse hide">
            <div class="container pt-5 pb-3">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-md-12 mb-5 text-center">
                            <span class="font-md text-info">دسته بندی ها</span>
                        </div>
                        <div class="col-md-4 col-sm-12 pb-4">
                            <div class="row mx-1">
                                <div class="col-md-12 p-1">
                                    <button class="btn btn-info w-100"
                                            data-toggle="collapse" data-target="#category1" role="button"
                                            aria-expanded="true" aria-controls="category1">خوراکی
                                    </button>
                                </div>
                                <div class="col-md-12 p-1">
                                    <button class="btn btn-info w-100"
                                            data-toggle="collapse" data-target="#category2" role="button"
                                            aria-expanded="false" aria-controls="category2">لباس
                                    </button>
                                </div>
                                <div class="col-md-12 p-1">
                                    <button class="btn btn-info w-100"
                                            data-toggle="collapse" data-target="#category3" role="button"
                                            aria-expanded="false" aria-controls="category3">ساز
                                    </button>
                                </div>
                                <div class="col-md-12 p-1">
                                    <button class="btn btn-info w-100"
                                            data-toggle="collapse" data-target="#category4" role="button"
                                            aria-expanded="false" aria-controls="category4">لوازم بهداشتی
                                    </button>
                                </div>
                                <div class="col-md-12 p-1">
                                    <button class="btn btn-info w-100"
                                            data-toggle="collapse" data-target="#category5" role="button"
                                            aria-expanded="false" aria-controls="category5">خودرو
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div id="accordion">
                                <div id="category1" class="collapse show" data-parent="#accordion">
                                    <div class="card card-body text-right">
                                        <div class="row justify-content-end">
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <a href="../product/category.ejs"
                                                       style="text-decoration: none; color: #e8ac22">لبنیات</a>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>ماست</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>دوغ</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>پنیر</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>کره</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>لبنیات</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>ماست</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>دوغ</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>پنیر</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>کره</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>لبنیات</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>ماست</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>دوغ</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>پنیر</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>کره</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>لبنیات</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>ماست</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>دوغ</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>پنیر</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>کره</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="category2" class="collapse" data-parent="#accordion">
                                    <div class="card card-body text-right">
                                        <div class="row justify-content-end">
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>تی شرت</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>استین حلقه ای</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>ساده</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>طرح دار</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>تی شرت</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>استین حلقه ای</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>ساده</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>طرح دار</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>تی شرت</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>استین حلقه ای</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>ساده</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>طرح دار</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>تی شرت</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>استین حلقه ای</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>ساده</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>طرح دار</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="category3" class="collapse" data-parent="#accordion">
                                    <div class="card card-body text-right">
                                        <div class="row justify-content-end">
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>گیتار</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>اکوستیک</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>الکتریک</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>باس</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>پیانو</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>دیواری</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>رویال</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>الکتریک</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>کیبورد</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="category4" class="collapse" data-parent="#accordion">
                                    <div class="card card-body text-right">
                                        <div class="row justify-content-end">
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>صابون</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>طبیعی</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>مصنوعی</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>شامپو</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>ضد شوره</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>طبیعی</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>گیاهی</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="category5" class="collapse" data-parent="#accordion">
                                    <div class="card card-body text-right">
                                        <div class="row justify-content-end">
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>پژو</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>۴۰۵</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>۲۰۶</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>۲۰۷</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 col-lg-3">
                                                <p class="text-warning">
                                                    <i class="fa fa-chevron-left"></i>
                                                    <span>نیسان</span>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>جوک</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                                <p class="text-info pr-4">
                                                    <span>قشقایی</span>
                                                    <i class="fa fa-caret-left"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
