<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <br>
    <h1>Add Category:</h1>
    <br>
    <form method="post" action="/category">
        Name:<br>
        <input type="text" name="name"><br>
        Parent:<br>
        <input type="text" name="parent">
        <input type="submit">
    </form>
    <br>
    <br>
    <% categories.forEach(function (category) { %>
        <h1><%= category.name %> : </h1>
        <h3>Edit Category:</h3>
        <br>
        <form  method="post" action="/category/<%=category._id%>?_method=PUT">
            Name:
            <br>
            <input type="text" name="name">
            <br>
            Parent:<br>
            <input type="text" name="parent">
            <input type="submit">
        </form>
        <br>
        <h3>Delete Category:</h3>
        <br>
        <form  method="post" action="/category/<%=category._id%>?_method=DELETE">
            <input type="submit">
        </form>
    <% }) %>
    <br>

</body>
</html>