<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>داشبورد ادمین</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/myStyle2.css">
    <link rel="stylesheet" href="css/Dashboard.css">
    <link rel="stylesheet" href="css/myStyle3.css">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <style>
        .myClickableThingy {
            cursor: pointer;
        }
    </style>
</head>

<body id="body" class="font-medium h-100">
<% include ../partials/header.ejs %>

<div id="overlay" onclick="openBar()"></div>
<aside id="sideBar" class="leftSide h-100 " style="background-color: white;">
    <span class="" id="close" style="display: none;color: black;font-size: 1.75rem;cursor: pointer;"
          onclick="openBar()">
            <i class="fa fa-close" style="position: absolute; top: 20px; right: 35px;"></i>
        </span>

    <div id="User" class="pt-5" style="">
        <div class="card shadow">
            <div class="card-header bg-info text-white text-justify text-center " style="height: 45px">
                <div class="m-auto position-relative"
                     style="width: 65px;height: 65px;border-radius: 100%;background-color: #dddddd">
                    <i class="fa fa-user pt-1 position-absolute"
                       style="font-size: 2.5rem;z-index: 5;color: white;right: 22%;top: 7px;"></i>
                </div>
            </div>
            <div class="card-body position-relative" style="padding: 40px 0 0 0;">
                <div class="text-center position-relative">
                    <h6 class="" style="font-family: 'IranYekanBold', serif;color: #515151">ادمین</h6>
                </div>
                <div class="pt-3 container-fluid">
                    <div class="row text-center">
                        <div class="col-6 py-2" style="border: solid 1px #dddddd;">
                            <span class="" style="color: #7aaf45; cursor: pointer">
                                <h6 class="d-inline">ویرایش</h6>
                                <i class="fa fa-edit"></i>
                            </span>
                        </div>
                        <div class="col-6 py-2" style="border: solid 1px #dddddd">
                            <span class="text-danger" style="cursor: pointer">
                                <form action="/logout" method="post">
                                    <input type="submit" value="خروج">
                                </form>
                                <i class="fa fa-power-off"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Datas" class="pt-5" style="">
        <div class="card shadow">
            <div class="card-header bg-info text-center text-white" style="height: 45px">
                <h6 class="d-inline">مدیریت</h6>
                <i class="fa fa-tasks"></i>
            </div>
            <div class="card-body " style="">
                <div class="text-right" style="direction: rtl;color: #515151">
                    <i class="fa fa-plus d-inline"></i>
                    <a class="d-inline myClickableThingy" onclick="add()" style="font-size: 0.9rem">افزودن کالا</a>
                </div>
                <br>
                <div class="text-right" style="direction: rtl;color: #515151">
                    <i class="fa fa-plus d-inline"></i>
                    <a onclick="cat()" class="d-inline myClickableThingy" style="font-size: 0.9rem">افزودن دسته بندی</a>
                </div>
                <br>
                <div class="text-right" style="direction: rtl;color: #515151">
                    <i class="fa fa-plus d-inline"></i>
                    <a class="d-inline myClickableThingy" id="new-orders" onclick="openNewOrders()"
                       style="font-size: 0.9rem">مشاهده سفارشات جدید</a>
                </div>
                <br>
                <div class="text-right" style="direction: rtl;color: #515151">
                    <i class="fa fa-plus d-inline"></i>
                    <a class="d-inline myClickableThingy" id="old-orders" onclick="openOldOrders()"
                       style="font-size: 0.9rem">مشاهده سفارشات قدیمی</a>
                </div>
            </div>
        </div>
    </div>

</aside>
<div class="bg-danger settings d-lg-none" style="right: 0;">
    <span id="setting" style="cursor: pointer" onclick="openBar()">
        <h6 style="writing-mode: vertical-lr;position: absolute; left: -35px; top: 10px">تنظیمات</h6>
    </span>
</div>
<main class="mt-5 main">
    <div class="container-fluid pt-4">
        <div class="card shadow" style="">
            <div class="card-header bg-info text-center text-white" style="height: 45px">
                <h6 class="d-inline">داده های مالی</h6>
                <i class="fa fa-line-chart" style="font-size: 1.5rem"></i>
            </div>
            <div class="card-body text-white">
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-12 p-2" style="height: 7rem">
                        <div class=" " style="border-radius: 20px; width: 100%;height: 100%;background-color:#00c689 ">
                            <div class="d-inline-block ml-2 my-3">
                                <i class="fa fa-donate" style="font-size: 4rem"></i>
                            </div>
                            <div class="d-inline-block mr-2 float-right my-4 text-justify">
                                <h6 class="text-right">فروش روز</h6>
                                <p class="text-right" style="direction: rtl">120,000تومان</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 p-2" style="height: 7rem">
                        <div class=" " style="border-radius: 20px; width: 100%;height: 100%;background-color: #3da5f4">
                            <div class="d-inline-block ml-2 my-3">
                                <i class="fa fa-piggy-bank" style="font-size: 4rem"></i>
                            </div>
                            <div class="d-inline-block mr-2 float-right my-4 text-justify">
                                <h6 class="text-right">فروش ماه</h6>
                                <p class="text-right" style="direction: rtl">120,000تومان</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 p-2" style="height: 7rem">
                        <div class=" " style="border-radius: 20px; width: 100%;height: 100%;background-color: #f1536e">
                            <div class="d-inline-block ml-2 my-3">
                                <i class="fa fa-money-bill-wave" style="font-size: 4rem"></i>
                            </div>
                            <div class="d-inline-block mr-2 float-right my-4 text-justify">
                                <h6 class="text-right">خرید ماه</h6>
                                <p class="text-right" style="direction: rtl">120,000تومان</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12 col-md-6 p-2" style="height: 7rem">
                        <div class=" " style="border-radius: 20px; width: 100%;height: 100%;background-color: #fda006">
                            <div class="d-inline-block ml-2 my-3">
                                <i class="fa fa-balance-scale" style="font-size: 4rem"></i>
                            </div>
                            <div class="d-inline-block mr-2 float-right my-4 text-justify">
                                <h6 class="text-right">سود ماه</h6>
                                <p class="text-right" style="direction: rtl">120,000تومان</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card shadow mt-4 " id="new-orders-dec" style="">
            <div class="card-header bg-info text-center text-white" style="height: 45px">
                <h6 class="d-inline ">سفارشات جدید</h6>
                <i class="fa fa-users" style="font-size: 1.5rem"></i>
            </div>
            <div class="card-body text-white">
                <div class="container">
                    <div class="accordion md-accordion accordion-blocks" id="order-1" role="tablist"
                         aria-multiselectable="true">
                        <div class="card shadow-lg my-4">
                            <div class="card-header bg-warning border-bottom" role="tab" id="order-header-1">
                                <a data-toggle="collapse" data-parent="#order-1" class="text-white"
                                   href="#order-body-1" aria-expanded="true"
                                   aria-controls="collapseUnfiled">
                                    <h5 class="mt-1 mb-0 float-right">
                                        <i class="fa fa-angle-down rotate-icon mx-2"></i>
                                        <span>عباس قادری</span>
                                        <span>- ۹۴۱۲۵۲۹۸</span>
                                    </h5>
                                </a>
                                <button class="btn btn-sm btn-danger float-left"> حذف</button>
                                <button class="btn btn-sm btn-info float-left mx-2"> ! به پست تحویل داده شد</button>
                            </div>
                            <div id="order-body-1" class="collapse" role="tabpanel" aria-labelledby="order-header-1"
                                 data-parent="#order-1">
                                <div class="card-body border-bottom">
                                    <div class="card w-100 mb-3">
                                        <div class="card-body">
                                            <div class="container">
                                                <div class="row text-dark">
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right"> : آدرس  </span>
                                                        <br>
                                                        <span class="float-right"> قم - میدان امام - کوچه حسنی - بن بست زهرا - پلاک ۲ </span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">کد ملی : <strong>۱۷۴۲۸۳۴۲۳۱</strong></span>
                                                        <br>
                                                        <span class="float-right">استان : <strong>قم</strong></span>
                                                        <br>
                                                        <span class="float-right">شهر : <strong>قم</strong></span>
                                                        <br>
                                                        <span class="float-right">کد پستی : <strong>۸۸۷۳۹۲۱۳۴</strong></span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">نام : <strong>عباس</strong></span>
                                                        <br>
                                                        <span class="float-right">نام خانوادگی : <strong>قادری</strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن همراه : <strong>۰۹۳۸۹۲۳۵۱۴۲</strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن ثابت : <strong>۰۲۱۸۸۴۴۲۲۳۱</strong></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0 mx-5">
                                            <thead>
                                            <tr class="font-sm">
                                                <th class="th-lg"><a>شماره<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>نام کالا<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>تعداد<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>شیوه ارسال<i class="fa fa-sort ml-1"></i></a></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="pl-3">۱</td>
                                                <td>لباس خفن</td>
                                                <td><strong>۳</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۲</td>
                                                <td>لباس معمولی</td>
                                                <td><strong>۳</strong></td>
                                                <td>پست پیشتاز</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۳</td>
                                                <td>پژو ۴۰۵</td>
                                                <td><strong>۱۲</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۴</td>
                                                <td>شامپو</td>
                                                <td><strong>۱</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-lg my-4">
                            <div class="card-header bg-warning border-bottom" role="tab" id="order-header-2">
                                <a data-toggle="collapse" data-parent="#order-1" class="text-white"
                                   href="#order-body-2" aria-expanded="true"
                                   aria-controls="order-body-2">
                                    <h5 class="mt-1 mb-0 float-right">
                                        <i class="fa fa-angle-down rotate-icon mx-2"></i>
                                        <span>عباس قادری</span>
                                        <span>- ۹۴۱۲۵۲۹۸</span>
                                    </h5>
                                </a>
                                <button class="btn btn-sm btn-danger float-left"> حذف</button>
                                <button class="btn btn-sm btn-info float-left mx-2"> ! به پست تحویل داده شد</button>
                            </div>
                            <div id="order-body-2" class="collapse" role="tabpanel" aria-labelledby="order-header-2"
                                 data-parent="#order-1">
                                <div class="card-body border-bottom">
                                    <div class="card w-100 mb-3">
                                        <div class="card-body">
                                            <div class="container">
                                                <div class="row text-dark">
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right"> : آدرس  </span>
                                                        <br>
                                                        <span class="float-right"> قم - میدان امام - کوچه حسنی - بن بست زهرا - پلاک ۲ </span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">کد ملی : <strong>۱۷۴۲۸۳۴۲۳۱</strong></span>
                                                        <br>
                                                        <span class="float-right">استان : <strong>قم</strong></span>
                                                        <br>
                                                        <span class="float-right">شهر : <strong>قم</strong></span>
                                                        <br>
                                                        <span class="float-right">کد پستی : <strong>۸۸۷۳۹۲۱۳۴</strong></span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">نام : <strong>عباس</strong></span>
                                                        <br>
                                                        <span class="float-right">نام خانوادگی : <strong>قادری</strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن همراه : <strong>۰۹۳۸۹۲۳۵۱۴۲</strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن ثابت : <strong>۰۲۱۸۸۴۴۲۲۳۱</strong></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0 mx-5">
                                            <thead>
                                            <tr class="font-sm">
                                                <th class="th-lg"><a>شماره<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>نام کالا<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>تعداد<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>شیوه ارسال<i class="fa fa-sort ml-1"></i></a></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="pl-3">۱</td>
                                                <td>لباس خفن</td>
                                                <td><strong>۳</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۲</td>
                                                <td>لباس معمولی</td>
                                                <td><strong>۳</strong></td>
                                                <td>پست پیشتاز</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۳</td>
                                                <td>پژو ۴۰۵</td>
                                                <td><strong>۱۲</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۴</td>
                                                <td>شامپو</td>
                                                <td><strong>۱</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mt-4 d-none" id="old-orders-dec" style="">
            <div class="card-header bg-info text-center text-white" style="height: 45px">
                <h6 class="d-inline">سفارشات قدیمی</h6>
                <i class="fa fa-users" style="font-size: 1.5rem"></i>
            </div>
            <div class="card-body text-white">
                <div class="container">
                    <div class="accordion md-accordion accordion-blocks" id="order-2" role="tablist"
                         aria-multiselectable="true">
                        <div class="card shadow-lg my-4">
                            <div class="card-header bg-success border-bottom" role="tab" id="order-header-3">
                                <a data-toggle="collapse" data-parent="#order-2" class="text-white"
                                   href="#order-body-3" aria-expanded="true"
                                   aria-controls="order-body-3">
                                    <h5 class="mt-1 mb-0 float-right">
                                        <i class="fa fa-angle-down rotate-icon mx-2"></i>
                                        <span>عباس قادری</span>
                                        <span>- ۹۴۱۲۵۲۹۸</span>
                                    </h5>
                                </a>
                                <button class="btn btn-sm btn-danger float-left"> حذف</button>
                                <button class="btn btn-sm btn-info float-left mx-2"> ! به پست تحویل داده شد</button>
                            </div>
                            <div id="order-body-3" class="collapse" role="tabpanel" aria-labelledby="order-header-3"
                                 data-parent="#order-2">
                                <div class="card-body border-bottom">
                                    <div class="card w-100 mb-3">
                                        <div class="card-body">
                                            <div class="container">
                                                <div class="row text-dark">
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right"> : آدرس  </span>
                                                        <br>
                                                        <span class="float-right"> قم - میدان امام - کوچه حسنی - بن بست زهرا - پلاک ۲ </span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">کد ملی : <strong>۱۷۴۲۸۳۴۲۳۱</strong></span>
                                                        <br>
                                                        <span class="float-right">استان : <strong>قم</strong></span>
                                                        <br>
                                                        <span class="float-right">شهر : <strong>قم</strong></span>
                                                        <br>
                                                        <span class="float-right">کد پستی : <strong>۸۸۷۳۹۲۱۳۴</strong></span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">نام : <strong>عباس</strong></span>
                                                        <br>
                                                        <span class="float-right">نام خانوادگی : <strong>قادری</strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن همراه : <strong>۰۹۳۸۹۲۳۵۱۴۲</strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن ثابت : <strong>۰۲۱۸۸۴۴۲۲۳۱</strong></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0 mx-5">
                                            <thead>
                                            <tr class="font-sm">
                                                <th class="th-lg"><a>شماره<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>نام کالا<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>تعداد<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>شیوه ارسال<i class="fa fa-sort ml-1"></i></a></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="pl-3">۱</td>
                                                <td>لباس خفن</td>
                                                <td><strong>۳</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۲</td>
                                                <td>لباس معمولی</td>
                                                <td><strong>۳</strong></td>
                                                <td>پست پیشتاز</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۳</td>
                                                <td>پژو ۴۰۵</td>
                                                <td><strong>۱۲</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۴</td>
                                                <td>شامپو</td>
                                                <td><strong>۱</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-lg my-4">
                            <div class="card-header bg-success border-bottom" role="tab" id="order-header-4">
                                <a data-toggle="collapse" data-parent="#order-2" class="text-white"
                                   href="#order-body-4" aria-expanded="true"
                                   aria-controls="order-body-4">
                                    <h5 class="mt-1 mb-0 float-right">
                                        <i class="fa fa-angle-down rotate-icon mx-2"></i>
                                        <span>عباس قادری</span>
                                        <span>- ۹۴۱۲۵۲۹۸</span>
                                    </h5>
                                </a>
                                <button class="btn btn-sm btn-danger float-left"> حذف</button>
                                <button class="btn btn-sm btn-info float-left mx-2"> ! به پست تحویل داده شد</button>
                            </div>
                            <div id="order-body-4" class="collapse" role="tabpanel" aria-labelledby="order-header-4"
                                 data-parent="#order-2">
                                <div class="card-body border-bottom">
                                    <div class="card w-100 mb-3">
                                        <div class="card-body">
                                            <div class="container">
                                                <div class="row text-dark">
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right"> : آدرس  </span>
                                                        <br>
                                                        <span class="float-right"> قم - میدان امام - کوچه حسنی - بن بست زهرا - پلاک ۲ </span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">کد ملی : <strong>۱۷۴۲۸۳۴۲۳۱</strong></span>
                                                        <br>
                                                        <span class="float-right">استان : <strong>قم</strong></span>
                                                        <br>
                                                        <span class="float-right">شهر : <strong>قم</strong></span>
                                                        <br>
                                                        <span class="float-right">کد پستی : <strong>۸۸۷۳۹۲۱۳۴</strong></span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">نام : <strong>عباس</strong></span>
                                                        <br>
                                                        <span class="float-right">نام خانوادگی : <strong>قادری</strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن همراه : <strong>۰۹۳۸۹۲۳۵۱۴۲</strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن ثابت : <strong>۰۲۱۸۸۴۴۲۲۳۱</strong></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0 mx-5">
                                            <thead>
                                            <tr class="font-sm">
                                                <th class="th-lg"><a>شماره<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>نام کالا<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>تعداد<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>شیوه ارسال<i class="fa fa-sort ml-1"></i></a></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="pl-3">۱</td>
                                                <td>لباس خفن</td>
                                                <td><strong>۳</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۲</td>
                                                <td>لباس معمولی</td>
                                                <td><strong>۳</strong></td>
                                                <td>پست پیشتاز</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۳</td>
                                                <td>پژو ۴۰۵</td>
                                                <td><strong>۱۲</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۴</td>
                                                <td>شامپو</td>
                                                <td><strong>۱</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-lg my-4">
                            <div class="card-header bg-success border-bottom" role="tab" id="order-header-5">
                                <a data-toggle="collapse" data-parent="#order-2" class="text-white"
                                   href="#order-body-5" aria-expanded="true"
                                   aria-controls="order-body-5">
                                    <h5 class="mt-1 mb-0 float-right">
                                        <i class="fa fa-angle-down rotate-icon mx-2"></i>
                                        <span>عباس قادری</span>
                                        <span>- ۹۴۱۲۵۲۹۸</span>
                                    </h5>
                                </a>
                                <button class="btn btn-sm btn-danger float-left"> حذف</button>
                                <button class="btn btn-sm btn-info float-left mx-2"> ! به پست تحویل داده شد</button>
                            </div>
                            <div id="order-body-5" class="collapse" role="tabpanel" aria-labelledby="order-header-5"
                                 data-parent="#order-2">
                                <div class="card-body border-bottom">
                                    <div class="card w-100 mb-3">
                                        <div class="card-body">
                                            <div class="container">
                                                <div class="row text-dark">
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right"> : آدرس  </span>
                                                        <br>
                                                        <span class="float-right"> قم - میدان امام - کوچه حسنی - بن بست زهرا - پلاک ۲ </span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">کد ملی : <strong>۱۷۴۲۸۳۴۲۳۱</strong></span>
                                                        <br>
                                                        <span class="float-right">استان : <strong>قم</strong></span>
                                                        <br>
                                                        <span class="float-right">شهر : <strong>قم</strong></span>
                                                        <br>
                                                        <span class="float-right">کد پستی : <strong>۸۸۷۳۹۲۱۳۴</strong></span>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 ml-auto float-right">
                                                        <span class="float-right">نام : <strong>عباس</strong></span>
                                                        <br>
                                                        <span class="float-right">نام خانوادگی : <strong>قادری</strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن همراه : <strong>۰۹۳۸۹۲۳۵۱۴۲</strong></span>
                                                        <br>
                                                        <span class="float-right">تلفن ثابت : <strong>۰۲۱۸۸۴۴۲۲۳۱</strong></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0 mx-5">
                                            <thead>
                                            <tr class="font-sm">
                                                <th class="th-lg"><a>شماره<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>نام کالا<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>تعداد<i class="fa fa-sort ml-1"></i></a></th>
                                                <th class="th-lg"><a>شیوه ارسال<i class="fa fa-sort ml-1"></i></a></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="pl-3">۱</td>
                                                <td>لباس خفن</td>
                                                <td><strong>۳</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۲</td>
                                                <td>لباس معمولی</td>
                                                <td><strong>۳</strong></td>
                                                <td>پست پیشتاز</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۳</td>
                                                <td>پژو ۴۰۵</td>
                                                <td><strong>۱۲</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            <tr>
                                                <td class="pl-3">۴</td>
                                                <td>شامپو</td>
                                                <td><strong>۱</strong></td>
                                                <td>پست معمولی</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mt-4 d-none" id="addProduct" style="">
            <div class="card-header bg-info text-center text-white" style="height: 45px">
                <h6 class="d-inline">افزودن کالا</h6>
                <i class="fa fa-plus-circle" style="font-size: 1.5rem"></i>
            </div>
            <div class="card-body">
                <div id="product-body" class="">
                    <div class="container">
                        <div class="row  text-center">
                        
                            <div class="col-md-12 mt-5">
                                <form>
                                    <div class="card shadow w-100">
                                        <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                            <!--<h5 class="font-sm mb-1 p-4 d-inline">کد کالا :</h5>-->
                                            <h5>مشخصات اصلی</h5>
                                        </div>
                                        <div class="card-body px-0">
                                            <div class="" style="direction: rtl">
                                                <input type="text" placeholder="کد کالا :"
                                                       class="form-control d-inline w-75">
                                            </div>
                                            <hr>
                                            <div class="" style="direction: rtl">
                                                <input type="text" placeholder="نام کالا :"
                                                       class="form-control d-inline w-75">
                                            </div>
                                            <hr>
                                            <div style="direction: rtl">
                                                <select type=""
                                                        class="form-control d-inline w-75">
                                                    <option class="" style="">موجود</option>
                                                    <option class="" style="">ناموجود</option>
                                                    <option class="" style="">به زودی</option>
                                                </select>
                                            </div>
                                            <hr>
                                            <div style="direction: rtl">
                                                <input type="number" min="0" step="500" placeholder="قیمت کالا :"
                                                       class="form-control d-inline w-75">
                                            </div>
                                            <hr>
                                            <div style="direction: rtl">
                                                <input type="number" min="0" placeholder="تعداد کالا :"
                                                       class="form-control d-inline w-75">
                                            </div>

                                        </div>
                                        <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                            <h5>رنگ</h5>
                                        </div>
                                        <div id="color" class="card-body px-0">
                                            <div style="direction: rtl">
                                                <input type="color"
                                                       class="form-control d-inline w-75">
                                            </div>
                                            <hr>
                                            <a onclick="addColor()" class="btn btn-info text-white"
                                               style="width: 120px; cursor: pointer;">
                                                افزودن رنگ
                                            </a>
                                        </div>

                                        <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                            <h5>عکس</h5>
                                        </div>
                                        <div id="photo" class="card-body px-0">
                                            <input type="file" accept="image/*" multiple>
                                        </div>

                                        <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                            <h5>دسته بندی</h5>
                                        </div>
                                        <div id="cat" class="card-body px-0">
                                            <div style="direction: rtl">
                                                <select type="text" class="form-control d-inline w-75">
                                                    <option selected>
                                                        دسته بندی
                                                    </option>
                                                    <option>
                                                        خوراکی
                                                    </option>
                                                    <option>
                                                        لباس
                                                    </option>
                                                    <option>
                                                        ساز
                                                    </option>
                                                    <option>
                                                        لوازم بهداشتی
                                                    </option>
                                                    <option>
                                                        خودرو
                                                    </option>
                                                </select>
                                            </div>
                                            <hr>
                                            <a onclick="addCat()" class="btn btn-info text-white"
                                               style="width: 120px; cursor: pointer">
                                                افزودن
                                            </a>
                                        </div>

                                        <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                            <h5>سایر</h5>
                                        </div>
                                        <div id="other" class="card-body px-0">
                                            <div style="direction: rtl">
                                                <input type="text" class="form-control d-inline w-25"
                                                       placeholder="مشخصه :">
                                                <input type="text" class="form-control d-inline w-50"
                                                       placeholder="توضیح :">
                                            </div>
                                            <hr>
                                            <a onclick="addOther()" class="btn btn-info text-white"
                                               style="width: 120px; cursor: pointer;">
                                                افزودن
                                            </a>
                                        </div>
                                        <div class="card-footer font-sm mb-1 p-2 text-center">
                                            <button type="submit" class="btn btn-info text-white">
                                                <i class="fa fa-plus font-md pt-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card shadow mt-4 d-none" id="category" style="">
            <div class="card-header bg-info text-center text-white" style="height: 45px">
                <h6 class="d-inline">افزودن دسته بندی</h6>
                <i class="fa fa-users" style="font-size: 1.5rem"></i>
            </div>
            <div>
                <div class="container">
                    <div class="row  text-center">
                        <div class="col-md-12 mt-5">
                            <form action="/category" method="post">
                                <div class="card shadow w-100">
                                    <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                        <!--<h5 class="font-sm mb-1 p-4 d-inline">کد کالا :</h5>-->
                                        <h5>افزودن</h5>
                                    </div>
                                    <div class="card-body px-0">
                                        <div class="" style="direction: rtl">
                                            <label class="mx-2" for="add-category-name">
                                                <span>نام دسته بندی</span>
                                            </label>
                                            <input id="add-category-name" type="text" placeholder="نام دسته بندی"
                                                   class="form-control d-inline w-75" name="name">
                                        </div>
                                        <hr>
                                        <div style="direction: rtl">
                                            <label class="mx-2" for="add-category-sub-category">
                                                <span>دسته بندی پدر</span>
                                            </label>
                                            <select id="add-category-sub-category"
                                                    class="form-control d-inline w-75" name="parent">
                                                <option class="" style="">اصلی</option>
                                                <% categories.forEach(function (category) { %>
                                                <option class="" style=""><%=category.name%></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <hr>
                                        <input type="submit" class="btn btn-success text-white" value="ثبت">
                                    </div>
                                </div>
                            </form>
                            <form method="post" action="/category?_method=PUT">
                                <div class="card shadow w-100 my-4">
                                    <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                        <!--<h5 class="font-sm mb-1 p-4 d-inline">کد کالا :</h5>-->
                                        <h5>تغییر</h5>
                                    </div>
                                    <div class="card-body px-0">
                                        <div style="direction: rtl">
                                            <label style="width: 400px" class="mx-2" for="edit-category-category">
                                                <span>دسته بندی</span>
                                            </label>
                                            <select id="edit-category-category" name="name"
                                                    class="form-control d-inline w-75">
                                                <% categories.forEach(function (category) { %>
                                                <option class="" style=""><%=category.name%></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <hr>
                                        <div class="" style="direction: rtl">
                                            <label style="width: 400px" class="mx-2" for="edit-category-name" >
                                                <span>نام جدید</span>
                                            </label>
                                            <input id="edit-category-name" type="text" placeholder="نام جدید"
                                                   class="form-control d-inline w-75" name="newName">
                                        </div>
                                        <hr>
                                        <div style="direction: rtl">
                                            <label style="width: 400px" class="mx-2" for="edit-category-sub-category">
                                                <span>دسته بندی پدر</span>
                                            </label>
                                            <select id="edit-category-sub-category" name="parent"
                                                    class="form-control d-inline w-75">
                                                <option class="" style="">اصلی</option>
                                                <% categories.forEach(function (category) { %>
                                                <option class="" style=""><%=category.name%></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <hr>
                                        <input type="submit" class="btn btn-warning text-white mr-2" value="ذخیره">
                                    </div>
                                </div>
                            </form>
                            <form method="post" action="/category?_method=DELETE">
                                <div class="card shadow w-100 my-4">
                                    <div class="card-header font-sm mb-1 py-3 d-inline px-0" style="direction: rtl">
                                        <!--<h5 class="font-sm mb-1 p-4 d-inline">کد کالا :</h5>-->
                                        <h5>حذف</h5>
                                    </div>
                                    <div class="card-body px-0">
                                        <div style="direction: rtl">
                                            <label style="width: 400px" class="mx-2" for="edit-category-category">
                                                <span>دسته بندی</span>
                                            </label>
                                            <select id="edit-category-category" name="name"
                                                    class="form-control d-inline w-75">
                                                <% categories.forEach(function (category) { %>
                                                <option class="" style=""><%=category.name%></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <hr>
                                        <input type="submit" class="btn btn-danger text-white mr-2" value="حذف">
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<script src="js/jquery2_2.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script>
    function openBar() {
        if (document.getElementById("sideBar").classList.contains("leftSideOpen")) {
            // document.getElementById("sideBar").style.width = "75%";
            // document.getElementById("sideBar").style.paddingLeft = "35px";
            // document.getElementById("sideBar").style.paddingRight = "35px";
            // document.getElementById("sideBar").style.paddingBottom = "85px";
            document.getElementById("sideBar").classList.remove("leftSideOpen");
            document.getElementById("body").classList.remove("hidedBody");
            document.getElementById("body").classList.add("shoppingBody");
            document.getElementById("body").classList.add("shoppingBody");
            document.getElementById("overlay").style.display = "none";
            document.getElementById("setting").style.display = "";
            setTimeout(function () {
                document.getElementById("close").style.display = "none";
            }, 500);
        } else {
            console.log(document.getElementById("overlay").style.display);
            document.getElementById("sideBar").classList.add("leftSideOpen");
            document.getElementById("body").classList.add("hidedBody");
            document.getElementById("body").classList.remove("shoppingBody");
            document.getElementById("overlay").style.display = "block";
            document.getElementById("setting").style.display = "block";
            document.getElementById("close").style.display = "block";
        }
    }

    function openNewOrders() {
        $('#new-orders-dec').removeClass('d-none');
        $('#old-orders-dec').addClass('d-none');
        $('#addProduct').addClass('d-none');
        $('#category').addClass('d-none');
    }

    function openOldOrders() {
        $('#old-orders-dec').removeClass('d-none');
        $('#new-orders-dec').addClass('d-none');
        $('#addProduct').addClass('d-none');
        $('#category').addClass('d-none');
    }

    function add() {
        $('#addProduct').removeClass('d-none');
        $('#old-orders-dec').addClass('d-none');
        $('#new-orders-dec').addClass('d-none');
        $('#category').addClass('d-none');
    }
    function cat() {
        $('#category').removeClass('d-none');
        $('#old-orders-dec').addClass('d-none');
        $('#new-orders-dec').addClass('d-none');
        $('#addProduct').addClass('d-none');
    }

    function addColor() {
        $("#color").prepend("    <div style=\"direction: rtl\">\n" +
            "            <input type=\"color\"\n" +
            "    class=\"form-control d-inline w-75\">\n" +
            "            </div>\n" +
            "            <hr>");

    }

    function addCat() {
        $("#cat").prepend("                                        <div style=\"direction: rtl\">\n" +
            "                                            <select type=\"text\" class=\"form-control d-inline w-75\">\n" +
            "                                                <option selected>\n" +
            "                                                    دسته بندی\n" +
            "                                                </option>\n" +
            "                                                <option>\n" +
            "                                                    خوراکی\n" +
            "                                                </option>\n" +
            "                                                <option>\n" +
            "                                                    لباس\n" +
            "                                                </option>\n" +
            "                                                <option>\n" +
            "                                                    ساز\n" +
            "                                                </option>\n" +
            "                                                <option>\n" +
            "                                                    لوازم بهداشتی\n" +
            "                                                </option>\n" +
            "                                                <option>\n" +
            "                                                    خودرو\n" +
            "                                                </option>\n" +
            "                                            </select>\n" +
            "                                        </div>\n" +
            "                                        <hr>");

    }

    function addOther() {
        $("#other").prepend("                                        <div style=\"direction: rtl\">\n" +
            "                                            <input type=\"text\" class=\"form-control d-inline w-25\" placeholder=\"مشخصه :\">\n" +
            "                                            <input type=\"text\" class=\"form-control d-inline w-50\" placeholder=\"توضیح :\">\n" +
            "                                        </div>\n" +
            "                                        <hr>");

    }

    function newCat(id) {

        $("#" + id).append("                                <div class=\"card-header mt-4\" style=\"background-color: #91d052\">\n" +
            "                                    <div class=\"text-white d-inline float-right p-1 mr-5\">\n" +
            "                                        <input class=\"form-control d-inline\" placeholder=\"نام محصول:\" style=\"direction: rtl;\" type=\"text\">\n" +
            "                                    </div>\n" +
            "                                    <div>\n" +
            "                                        <a class=\"btn text-white ml-4\" style=\"background-color: #19a814;width: 65px\">ثبت</a>\n" +
            "                                    </div>\n" +
            "                                </div>\n");

    }


</script>
<script src="js/slick.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).on('ready', function () {
        $(".regular").slick({
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 2,
            responsive: [
                {
                    breakpoint: 960,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        infinite: true,
                    }
                },
                {
                    breakpoint: 650,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    });
</script>
<script src="js/ZosoJS.js" type="text/javascript"></script>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script>
    // Register the plugin
    FilePond.registerPlugin(FilePondPluginImagePreview);
    FilePond.registerPlugin(FilePondPluginFileValidateType);
    // ... FilePond initialisation code here
    FilePond.setOptions({
        server: {
            process: '/product/upload',
            revert: (uniqueFileId, load, error) => {
                    // console.log(err);
                    fetch('/product/revert', {
                        method: 'delete',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            path: uniqueFileId
                        })
                    });
                    load();
            }
        }
    });
    const inputElement = document.querySelector('input[type="file"]');
    const pond = FilePond.create(inputElement);
</script>   
</body>
</html>