<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ورود</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/myStyle.css">
    <link rel="stylesheet" href="css/loginStyle.css">
</head>

<body class="font-medium">

<% include ../partials/header.ejs %>

<div class="login-card mx-auto container">
    <div class="card">
        <div class="card-header">
            <span class="font-md text-info text-center">!ورود به بادمجون</span>
        </div>
        <div class="card-body">
            <form action="/adminDashboard" method="POST" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="email" class="float-right">ایمیل</label>
                    <div class="input-group">
                        <input type="email" name="email" id="email" class="form-control" required>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="invalid-feedback">.لطفا این بخش را به درستی پر کنید</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="float-right">رمز عبور</label>
                    <label for="password" class="float-left dashed-link"><a href="./forgot-password"> رمز عبور خود را
                            فراموش کردم </a></label>
                    <div class="input-group">
                        <input type="password" name="password" id="password" class="form-control" required>
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="invalid-feedback">.لطفا این بخش را به درستی پر کنید</div>
                    </div>
                </div>
                <input type="submit" value="ورود" style="text-decoration: none;
                     color: white" class="btn btn-info w-100 mt-3 float-right">
            </form>
        </div>
        <div class="card-footer text-muted">
            <span class="text-info font-sm"><a href="/register"> ثبت نام در بادمجون؟ </a></span>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>

</body>
</html>