@font-face {
    font-family: 'IranYekanBold';
    src: url("../fonts/iranSans/iranyekanbold.woff") format("woff");
    font-style: normal;
    font-weight: normal; }
  
  @font-face {
    font-family: 'IranYekanRegular';
    src: url("../fonts/iranSans/iranyekanregular.woff") format("woff");
    font-style: normal;
    font-weight: normal; }
  
  @font-face {
    font-family: 'IranYekanLight';
    src: url("../fonts/iranSans/iranyekanlight.woff") format("woff");
    font-style: normal;
    font-weight: normal; }
  
.font-bold {
    font-family: 'IranYekanBold', serif; }

.font-medium {
    font-family: 'IranYekanRegular', serif; }

.font-light {
    font-family: 'IranYekanLight', serif; }

.font-bg {
    font-size: 50px; }

.font-md {
    font-size: 30px; }

.font-sm {
    font-size: 18px; }
      
.main-form {
    width: 450px;
    margin: auto;
    margin-top: 50px;
}

.reg-btn{
    margin-top: 15px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.reg-btn:hover{
    background-color: black;
}

.form-group select transition{
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select: none;
}

.form-group select:hover{
    border-color:skyblue;
}

.form-group select input:focus{
    clear: both;
    display: none;
}

.form-group select:active{
    color: black;
}

.card-header{
    text-align: center;
    font-family: "IranYekanBold";
}

.form-group{
    text-align: right;
}

.form-check{
    text-align: right;
}

.form-control{
    text-align: right;
}